@using Kendo.Mvc
@using PhoneBookApp.Models
@model List<PhoneBookApp.Models.PersonModel>

<dir><h1>PhoneBookApp</h1></dir>
<dir>
    @using (Html.BeginForm("Index", "Person", FormMethod.Get))
    {
    <div>
        @Html.TextBox("search", "")<button>Szukaj</button>
    </div>

    }
</dir>
<a href="@Url.Action("Add")" class="k-button">Dodaj nowy wpis</a>

<p></p>
<dir>
    <Table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Telefon</th>
            <th>Email</th>
            <th>Utworzono</th>
            <th>Zmodyfikowano</th>

        </tr>
        </thead>
        <tbody>
        @foreach (var element in Model)
        {
            <tr>
                <td>@Html.Kendo().TextBoxFor(x => element.ID)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.Name)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.LastName)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.Phone)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.Email)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.Created)</td>
                <td>@Html.Kendo().TextBoxFor(x => element.Updated)</td>
                <td><a href="@Url.Action("Edit")" class="k-button">Edytuj</a></td> 
                <td><a href="@Url.Action("Remove")" class="k-button">Usuń</a></td> 
            </tr>

        }
        </tbody>
    </Table>
</dir>
<dir>
    @if (ViewBag.page == 1)
    {
    <div>

        @Html.ActionLink("Kolejna strona", "Index", new { page = @ViewBag.page + 1 })

    </div>
    }
    @if (ViewBag.page > 1)
    {
        if (Model.Count<10)
        {
    <div>
        @Html.ActionLink("Poprzednia strona", "Index", new { page = @ViewBag.page - 1 })
    </div>
        }
        else
        {
    <div>
        @Html.ActionLink("Poprzednia strona", "Index", new { page = @ViewBag.page - 1 }) |
        @Html.ActionLink("Kolejna strona", "Index", new { page = @ViewBag.page + 1 })
    </div>
        }

    }
</dir>

