@using PhoneBookApp.Models
@model PhoneBookApp.Models.PersonModel
@using (Html.BeginForm("RemoveConfirm", "Person", FormMethod.Post))
{

    <dir><h3>Czy potwierdzasz usunięcie?</h3></dir>
    @Html.HiddenFor(x => x.ID)
    <dir>
        <Table border="1">
            <thead>
            <tr>
                <th>ID</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Utworzono</th>
                <th>Zmodyfikowano</th>
           
            </tr>
            </thead>
            <tbody>
            
            <tr>
                <td>@Html.Kendo().TextBoxFor(x => x.ID)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.Name)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.LastName)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.Phone)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.Email)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.Created)</td>
                <td>@Html.Kendo().TextBoxFor(x => x.Updated)</td>
                </tr>
                        
            </tbody>
        </Table>
    </dir>

    <dir><button type="submit">Usuń</button><button>@Html.ActionLink("Anuluj", "Index")</button></dir>
    

}


